# Data Visualization PART1

### Indexing

In [2]:
#Make a string
name=("My name is Ahmed")
name

'My name is Ahmed'

In [3]:
len(name)

16

In [6]:
name[15]

'd'

In [7]:
name[0:15]

'My name is Ahme'

In [8]:
nam= "hello world"
nam

'hello world'

In [10]:
nam.capitalize()

'Hello world'

In [16]:
nam.lower()

'hello world'

In [17]:
nam.upper()

'HELLO WORLD'

In [18]:
#replacing elements
nam.replace("hello" ,"hy")

'hy world'

In [19]:
#finding index number
color= "My shirt color is Blue"
color

'My shirt color is Blue'

In [25]:
color.find("B")

18

In [28]:
len(color)

22

In [36]:
#spliting string
naam= " My name is Hamza  8 years , School ,  2 Class"
naam

' My name is Hamza  8 years , School ,  2 Class'

In [37]:
naam.split(" , ")

[' My name is Hamza  8 years', 'School', ' 2 Class']

# Data Visualization PART 2

## 4 TYPES WE WILL STUDY
1-TUPLE
2-LIST
3-DICTIONARIES
4-SETS

### TUPLE
#1-Ordered collecion of words Enclosed in () 

#2-Different kind of elements can

be stored ( element = integer, string, float, Boolean Operators like Yes
No True False etc )

#3-Once elements stored they cant be changed

In [38]:
tup1=(1, "Fehar" , 3.5 , False )
tup1

(1, 'Fehar', 3.5, False)

In [39]:
#type
type(tup1)

tuple

In [40]:
#Lenght
len(tup1)

4

In [42]:
#finding
tup1[3]

False

In [ ]:
#tuple cannot be capitalize or lower because its unchangeable

In [45]:
#Indexing of tuple aka finding 
tup1.index(1)

0

In [47]:
tup1.index("Fehar")

1

In [49]:
#Concentinate Tuples ( Adding two or more tuples )
tup2=(711,"Learning Python" , 2.2 , True)
tup2

tup1+tup2

(1, 'Fehar', 3.5, False, 711, 'Learning Python', 2.2, True)

In [51]:
tup1*2 + tup2

(1,
 'Fehar',
 3.5,
 False,
 1,
 'Fehar',
 3.5,
 False,
 711,
 'Learning Python',
 2.2,
 True)

In [52]:
tup1 + tup2*2

(1,
 'Fehar',
 3.5,
 False,
 711,
 'Learning Python',
 2.2,
 True,
 711,
 'Learning Python',
 2.2,
 True)

In [55]:
#finding a maximum and mainimum , applicable on floats and numerics (integeres (ints) only)
tup3=(12, 121, 12.4, 474.6, 642, 72, 0.6,286.2)
max(tup3)

642

In [56]:
min(tup3)

0.6

In [57]:
type(tup3)

tuple

In [58]:
len(tup3)

8

In [60]:
tup3.index(121)

1

### LIST#1-
Order collection of Elements Enclosed in [] square bracket.

#2- You can change the value

#3-Different kind of elements can 
be stored ( element = integer, string, float, Boolean Operators like Yes No True False etc )s

In [63]:
list1=[1,"Ahmed",9.765,False]
list1

[1, 'Ahmed', 9.765, False]

In [64]:
type(list1)

list

In [65]:
len(list1)

4

In [68]:
list1.count(False)   #it counts how many times a variable is in the [string]

1

In [79]:
list2=[22,44,77,443,55.54,23313.4]
list2

[22, 44, 77, 443, 55.54, 23313.4]

In [84]:
#sort (only use for int and floats)
list2.sort()
list2

[22, 44, 55.54, 77, 443, 23313.4]

In [85]:
list1.remove(9.765)
list1

[1, 'Ahmed', False]

In [93]:
list1

[1, 'Ahmed', False, 26, 26]

In [95]:
list1[2]

False

In [96]:
#concentinate (adding)
list3=[5 , "Ahmed" , True , 10.33]
list4=["Fehar",7,9.9,False]
list3+list4

[5, 'Ahmed', True, 10.33, 'Fehar', 7, 9.9, False]

In [97]:
list3=[5 , "Ahmed" , True , 10.33]
list4=["Fehar",7,9.9,False]
list3*2 +list4

[5, 'Ahmed', True, 10.33, 5, 'Ahmed', True, 10.33, 'Fehar', 7, 9.9, False]

In [102]:
#Reversing
list4

[False, 9.9, 7, 'Fehar']

In [103]:
list4.reverse()
list4

['Fehar', 7, 9.9, False]

In [107]:
#Append ( to join something with the preexisting list )
list3

[5, 'Ahmed', True, 10.33]

In [108]:
list3.append("Hello World")
list3

[5, 'Ahmed', True, 10.33, 'Hello World']

In [10]:
#  Practical Example of LIST in making a short algorithm 
food=["Beef","Chicken","Biryani","Pulao","Tea","Water","Burger","Pizza","Colddrink"]
food

['Beef',
 'Chicken',
 'Biryani',
 'Pulao',
 'Tea',
 'Water',
 'Burger',
 'Pizza',
 'Colddrink']

In [11]:
type(food)

list

In [118]:
len(food) #price len also 9 len(price)

9

In [144]:
price = ["RS 300", "RS 299", "RS 200", "RS 300", "RS 99", "RS 99", "RS 200" ,"RS 799", "RS 100"]
price

['RS 300',
 'RS 299',
 'RS 200',
 'RS 300',
 'RS 99',
 'RS 99',
 'RS 200',
 'RS 799',
 'RS 100']

### Dictionaries
#1-Unorder arrangements of values key and values {} curly braces 

#2-values are changeable

In [18]:
#food and their prices
menu1 = { "Rice":100 , "Mutton":300 , "pizza":999 , "tea":99 }   #key = str , values = intg
menu1

{'Rice': 100, 'Mutton': 300, 'pizza': 999, 'tea': 99}

In [19]:
type(menu1)

dict

In [20]:
###extract data
keys1 = menu1.keys()
keys1

dict_keys(['Rice', 'Mutton', 'pizza', 'tea'])

In [21]:
values1 = menu1.values()
values1

dict_values([100, 300, 999, 99])

In [22]:
#update the dictinary
menu1["Salad"]= 99
menu1

{'Rice': 100, 'Mutton': 300, 'pizza': 999, 'tea': 99, 'Salad': 99}

In [34]:
menu1.update{"Salad"}= "199" #unable to find the exact code to update the value you can check it later on 
menu1

SyntaxError: invalid syntax (2997387260.py, line 1)

### Sets
Unordered , Unindex , Curly braces{} , no duplicates allowed

In [35]:
s1 = { "fehar" , 3 , 4 , 3.9 , "ahmed" }
s1

{3, 3.9, 4, 'ahmed', 'fehar'}

In [36]:
type(s1)

set

In [37]:
len(s1)

5

In [38]:
s1.add("HighShool")
s1

{3, 3.9, 4, 'HighShool', 'ahmed', 'fehar'}

In [ ]:
    # HOMEWORK IS TO USE ALL FUNCTIONS THAT APPEAR AFTER PRESSIN TAB BUTTON FOR EACH : TUBLE , LIST , DICTIONARY , SET